# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Docker
*.log
*.pid
*.db
**/.DS_Store

# Faust logs
*.out
*.bak

# VSCode
.vscode/


# Ignore DuckDB files (optional)
duckdb-data/*.duckdb
duckdb-data/*.wal
duckdb-data/*?*

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Streamlit cache
dashboard/.streamlit/
dashboard/.cache/

# Ignore DuckDB CLI
dashboard/duckdb_cli-linux-amd64.zip